body {
  margin-left: 25%;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
.App {
  /* text-align: center; */
  font-family: 'Raleway', sans-serif;
}

.child {
  background-color: bisque;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav h2{
  /* border: 1px solid hotpink; */
  padding: 20px;
  justify-content: center;
  color: #d53369;
}
.nav h2:hover {
  color: #daae51;
}
/* .home {

} */

/* .photoGrid {

} */

.gridPhoto {
  height: 200px;
  /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
  margin: 10px;
  border: 1px solid hotpink;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.gridPhoto:hover {
  opacity: 0.5;
}
.profile-nav {
  grid-area: profile-nav;
}

.profile-pic {
  height: 100px;
  border-radius: 30px;
  border: hotpink 1px solid;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.profile-pic:hover {
  height: 150px;
}

.profile {
  display: grid;
  grid-template-areas: "profile-nav"
                        "content";
  width: 700px;
}

.content {
  /* border: 1px solid black; */
  grid-area: content;
  padding: 20px;
  color: #daae51 ;
  text-align: center;
  text-shadow: black 1px 1px 1px;
}

/* .bookmarks {

} */

.userLog button {
  border: none;
  background-color: bisque;
  width: 100p;
  color: #daae51 ;
  text-shadow: black 1px 1px 1px;
}