.App {
  /* text-align: center; */
}

.child {
  display: flex;
}
.nav {
  justify-content: center;
}
.nav h2 {
  border: 1px solid black;
  padding: 20px;
}
.home {

}

.photoGrid {

}

.profile {

}

.bookmarks {

}