body {
  margin-left: 25%;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
.App {
  /* text-align: center; */
 
 
}

.child {
  
  background-color: bisque;
  
}
.nav {
  display: flex;
  justify-content: space-evenly;
}
.nav h2{
  border: 1px solid hotpink;
  padding: 20px;
  justify-content: space-between;
  text-decoration: none;
}
.home {

}

.photoGrid {

}
.gridPhoto {
  height: 200px;
  /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
  margin: 10px;
  border: 1px solid hotpink;
}
.profile-nav {
  grid-area: profile-nav;
}
.profile-pic {
  height: 100px;
  border-radius: 30px;
  border: hotpink 1px solid;
  box-shadow: lightblue 1px 1px 1px;
}
.profile {
  display: grid;
  grid-template-areas: "profile-nav"
                        "content";
  width: 700px;
}
.content {
  /* border: 1px solid black; */
  grid-area: content;
  padding: 20px;
  color: #daae51 ;
  text-align: center;
  text-shadow: black 1px 1px 1px;
}

.bookmarks {

}

.userLog button {
  border: none;
  background-color: bisque;
  width: 100p;
  color: #daae51 ;
  text-shadow: black 1px 1px 1px;
}