.App {
  /* text-align: center; */
  margin: auto;
}

.child {
  width: 500px;
}
.nav {
  display: flex;

}
.nav h2 {
  border: 1px solid black;
  padding: 20px;
  justify-content: center;
}
.home {

}

.photoGrid {

}
.profile-nav {
  grid-area: profile-nav;
}
.profile-pic {
  height: 100px;
  border-radius: 30px;
 
}
.profile {
  display: grid;
  grid-template-areas: "profile-nav"
                        "content";
}
.content {
  border: 1px solid black;
  grid-area: content;
  padding: 20px;
}

.bookmarks {

}